{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
	.change-password{
		margin-top: 100px;
		margin-bottom: 150px;
	}
</style>
{% endblock style %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4"></div>
		<div class="col-lg-4 col-md-4 col-sm-4">

			<div class="change-password">
				{% if error %}
				<div class="alert alert-danger alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Fail!</strong> Wrong password.
                </div> 
                {% endif %}
				<h4 class="text-center">Change Passord</h4>
				<hr>
				<form method="post">{% csrf_token %}
					<input type="password"  name="old_password" class="form-control" placeholder="Old Password">
					<br>
					<input type="password" id="password" name="new_password" class="form-control" placeholder="New Password">
					<br>
					<input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password">
					<br>
					<input type="submit" value="Change Password" class="btn btn-primary btn-block">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block jquery %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#password, #confirm_password').on('keyup', function () {
      if ($('#password').val() == $('#confirm_password').val()) {
       $(':input[type="submit"]').prop('disabled', false);
      } else 
        $(':input[type="submit"]').prop('disabled', true);
    });
  });
</script>
{% endblock jquery %}